<!-- LOGO Taskly animado -->
<a
  routerLink="/"
  class="block group transition-transform duration-500 ease-out scale-100 hover:scale-105"
>
  <div class="text-[24px] lg:text-[32px] inline-block animate-fade-in">
    <span
      class="relative flex items-baseline font-extrabold leading-none 
             text-gray-900 dark:text-white select-none"
    >
      Tas
      <span class="relative inline-block">
        k
        <span
        class="absolute
          bottom-[9px] left-[12px]
          w-[30px] h-[7px]
          bg-indigo-500 rounded-full
          rotate-[-55deg] origin-bottom-left"
        ></span>

      </span>
      ly
    </span>
  </div>
</a>
